name: trilo-system


on:
  push:
    branches:
      - dev
  pull_request:
    branches:
      - dev


env:
  S3_BUCKET_NAME: trilo-system-deploy
  PROJECT_NAME: trilo


jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check Out (체크 아웃)
        uses: actions/checkout@v3

      - name: Set up JDK 17 (JDK 17 설치)
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Grant execute permission for gradlew (gradlew에 권한 부여)
        run: chmod +x gradlew
        shell: bash

      - name: Setup Gradle (Gradle 설치)
        uses: gradle/gradle-build-action@v2

      - name: Run build with Gradle Wrapper (Gradle Wrapper로 빌드)
        run: ./gradlew build

      - name: Make zip file (zip 으로 압축)
        run: zip -r ./$GITHUB_SHA.zip .
        shell: bash

      - name: Configure AWS credentials (AWS 인증 설정)
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Upload to S3 (S3에 업로드)
        run: aws s3 cp --region ${{ secrets.AWS_REGION }} ./$GITHUB_SHA.zip s3://$S3_BUCKET_NAME/$PROJECT_NAME/$GITHUB_SHA.zip

      - name: Code Deploy (Code Deploy를 통해 EC2에 전달)
        run: aws deploy create-deployment --application-name trilo-system-deploy --deployment-config-name CodeDeployDefault.AllAtOnce --deployment-group-name develop --s3-location bucket=$S3_BUCKET_NAME,bundleType=zip,key=$PROJECT_NAME/$GITHUB_SHA.zip
